<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.title_prefix }}{{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Third party styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/ripples.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material-wfont.min.css" rel="stylesheet">

  <!-- Site custom styles -->
  <link rel="stylesheet" href="/assets/css/style.css?body=1" type="text/css" media="all">

  <!-- Third party scripts (that are needed on page load) -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Fav and touch icons, thanks to http://realfavicongenerator.net/ -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">

  <!-- ATOM & RSS feed -->
  <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
  <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

</head>

<body>

   <nav class="navbar navbar-default navbar-static-top shadow-z-2" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ HOME_PATH }}">
          {{ site.title }}
          {% if site.tagline %}
            - {{ site.tagline }}
          {% endif %}
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% comment %}
          <!--
            Add a link for each page in the navigation list.
            Set the current page active to highlight it.
            For projects pages, set the projects link active since their path
            contains '/projects/'.
          -->
          {% endcomment %}

          {% for link in page.navigation %}
          <li
            {% if link.url == "/" and page.url == "/" %}
              class="active"
            {% elsif link.url != "/" and page.url contains link.url %}
              class="active"
            {% endif %}
          >
              <a href="{{link.url}}">{{link.text}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="{{ page.content-class }} shadow-z-3">
    <div class="content">
      {{ content }}
    </div>

    <br>
    <div id="footer">
      <hr>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
        with help from <a href="http://jekyllbootstrap.com" target="_blank" title="Jekyll Bootstrap - The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>, <a href="http://getbootstrap.com/" target="_blank" title="Bootstrap - The world's most popular mobile-first and responsive front-end framework.">Bootstrap</a>, and <a href="http://fezvrasta.github.io/bootstrap-material-design/" target="_blank" title="Material Design for Bootstrap">Bootstrap Material Design</a>. View the source on <a href="https://github.com/ScottTodd/scotttodd.github.io">GitHub</a>!
      </p>
    </div>
  </div>

  <!-- Third party scripts (that are not needed on page load) -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/ripples.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/material.min.js"></script>

  <script>
    $(document).ready(function() {
        $.material.init();
    });
  </script>

  <!-- Additional scripts -->
  {% include JB/analytics %}
</body>

</html>
