$primary-blue: #C4CCD0;
$secondary-blue: #ACBED2;
$gray-1: #E2E2E0;
$gray-2: #C5C5BC;
$gray-3: #88887D;
$gray-4: #565A5A;
$gray-5: #3F4343;
$gray-6: #141616;

$page-background: #B6C2C9;
$content-background: #DDDDD8;
$light-highlight: rgba(120, 120, 120, 0.2);
