---
---

@import 'colors';

.contact-info {
  margin: 5px;

  table, th, tr {
    border-bottom: 1px dotted #AAAAAA;
    border-top: 1px dotted #AAAAAA;
  }

  td {
    padding: 2px 5px;
  }
}

.photo-id {
  border: 5px solid #333333;
  border-radius: 20px;
  float: left;
  margin: 0px 50px 20px 0px;
  max-height: 250px;
}

p {
  margin: 10px;
}
