---
---

@import 'colors';

$white-border: #AAAAAA;
$black-border: #333333;

.socials {
  margin: 5px;

  td {
    padding: 2px 5px;
  }
}

.photo-id {
  border: 5px solid $black-border;
  border-radius: 20px;
  float: left;
  margin: 0px 50px 20px 0px;
  max-height: 250px;
}

p {
  margin: 10px;
}
