---
---

@import 'colors';

$navbar-height: 52px;
$header-navbar-offset: 30px;
$footer-offset: 60px;

html {
  height: calc(100% - #{$navbar-height});
}

body {
  background-color: $page-background;
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
  background-color: $gray-5;
  background-image: url(/assets/images/dark-matter.png);
  background-repeat: repeat;
  border: 0;
  border-radius: 0;

  .navbar-toggle, .navbar-toggle:focus {
    background-color: $gray-5;
    border-color: $gray-6;
  }

  .navbar-toggle:hover {
    background-color: $gray-4;
  }

  .navbar-toggle > .icon-bar {
    background-color: $gray-3;
  }

  .navbar-collapse {
    border-color: $gray-4;
  }

  .navbar-brand, .nav > li > a {
    text-shadow: none;
    color: $gray-2;
    line-height: 30px;
    margin: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .nav > .active {
    background-color: $light-highlight;
  }

  .navbar-brand {
    padding: 10px 10px;
    max-height: 48px;
  }

  .nav > li:focus, .nav > li:hover {
    transition: background 300ms ease;
    color: $secondary-blue;
    background-color: $light-highlight;
  }

  .navbar-brand:focus, .navbar-brand:hover {
    transition: background 300ms ease;
    color: $secondary-blue;
    background-color: $light-highlight;
  }
}

.footer {
  padding-bottom: 10px;
  text-align: center;
  min-width: 100%;
}

.page-header {
  margin: 0;
  padding: 20px 0px 10px;
  margin-top: $header-navbar-offset;
  border: none;
}

.content-container {
  background-color: $content-background;
  min-height: calc(100% - #{$footer-offset});
  position: relative;
}

.container-narrow {
  margin: 0px auto $header-navbar-offset auto;
  max-width: 940px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container-narrow {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .container-narrow {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: $primary-blue;
}

.panel-default {
  background-color: $primary-blue;
}

.panel-default > .panel-heading, .panel > .panel-heading, .panel-footer {
  background-color: $gray-1;
}

.panel-footer {
  padding: 0px;
}

hr {
  height: 2px;
  background: #777;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  border: none;
}

li > i {
  opacity: 0.9;
  font-size: 13pt;
  top: 4px;
  position: relative;
}

.tag_box {
  margin: 0;
  padding: 10px;
  overflow: hidden;

  .inline li {
    float: left;
  }

  a {
    padding: 3px 6px;
    margin: 2px;
    text-transform: none;

    span {
      vertical-align: super;
      font-size: 0.8em;
    }
  }
}
