---
---

@import 'colors';

.page-preview {
  width: 320px;
  height: 340px;
  max-width: 100%;
  display: inline-block;
  padding: 10px;
  margin-right: 20px;

  img {
    margin-left: auto;
    margin-right: auto;
    max-height: 260px;
    vertical-align: top;
    display: block;
  }

  .preview-title {
    font-size: 24px;
    color: $gray-5;
  }

  hr {
    margin: 5px 0 10px 0;
    width: 100%;
  }
}
