---
---

@import 'colors';

.projects-grid {
  display: inline-block;

  .btn {
    padding: 5px;
    margin: 0px;
  }

  img {
    padding: 5px;
  }
}

.projects-list {
  ul {
    padding-left: 15px;
    padding-right: 5px;
  }

  li {
    list-style: none;
  }

  .project-summary-title {
    font-size: 20px;
    font-weight: bold;
  }

  .project-summary-tagline {
    font-size: 16px;
  }

  .project-summary-date {
    font-size: 14px;
  }

  .title-img {
    display: inline-block;
    padding: 5px;
    max-height: 380px;
    width: auto;
    height: auto;
  }
}
