---
---

@import 'colors';

.post-summary-list {
  padding-left: 15px;
  padding-right: 5px;

  li {
    list-style: none;
  }
}

.post-summary-title {
  font-size: 20px;
  font-weight: bold;
}

.post-summary-tagline {
  font-size: 16px;
}

.post-summary-date {
  font-size: 14px;
}

.title-summary {
  display: inline-block;
  padding: 5px;
  max-height: 380px;
  width: auto;
  height: auto;
}
