---
---

@import 'colors';

.resume-category h3 {
  margin: 4px;
  padding-bottom: 4px;
}

.resume-subcategory {
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-top: 6px;
}

.skills-table table, th, td {
  border: none;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.one-line div {
  display: inline-block;
}

.logo {
  max-height: 30px;
  padding-left: 15px;
}

.job-title {
  font-style: italic;
}

.divider {
  padding-left: 15px;
  padding-right: 15px;
}

.company-description {
  font-style: italic;
  padding-left: 30px;
}

.indent {
  padding-left: 30px;
}

.no-bullets {
  list-style-type: none;
}
