---
---

/* Colors */

$primary-blue: #C4CCD0;
$secondary-blue: #ACBED2;
$gray-1: #E8E8E6;
$gray-2: #C5C5BC;
$gray-3: #88887D;
$gray-4: #565A5A;
$gray-5: #3F4343;
$gray-6: #141616;

$page-background: #b6c2c9;
$content-background: #ddddd8;
$region-background: #c4ccd0;
$content-outline: #bbbbbb;
$region-outline: #aaaaaa;
$shadow-value: #242424;
$shadow-page: $page-background - $shadow-value;
$shadow-content: $content-background - $shadow-value;

$nav-font: #bbbbbb;
$nav-highlight: rgba(120,120,120,0.2);

$link: #0088cc;
$link-hover: #4477af;
$dark-hover-bg: #394A4A;
$light-hover-bg: #d7ceb9;

$section-heading: #e5e5e5;
$section-heading-bg: #454545;

/* Measurements */
$navbar-height: 52px;
$header-navbar-offset: 30px;
$footer-offset: 60px;

html {
  height: calc(100% - #{$navbar-height});
}

body {
  background-color: $page-background;
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
  background-color: $gray-5;
  background-image: url(/assets/images/dark-matter.png);
  background-repeat: repeat;
  border: 0;
  border-radius: 0;

  .navbar-toggle, .navbar-toggle:focus {
    background-color: $gray-5;
    border-color: $gray-6;
  }

  .navbar-toggle:hover {
    background-color: $gray-4;
  }

  .navbar-toggle > .icon-bar {
    background-color: $gray-3;
  }

  .navbar-collapse {
    border-color: $gray-4;
  }

  .navbar-brand, .nav > li > a {
    text-shadow: none;
    color: $gray-2;
    line-height: 30px;
    margin: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .nav > .active {
    background-color: $nav-highlight;
  }

  .navbar-brand {
    padding: 10px 10px;
    max-height: 48px;
  }

  .nav > li:focus, .nav > li:hover {
    -webkit-transition: background 300ms ease;
       -moz-transition: background 300ms ease;
        -ms-transition: background 300ms ease;
         -o-transition: background 300ms ease;
            transition: background 300ms ease;
    color: $secondary-blue;
    background-color: $nav-highlight;
  }

  .navbar-brand:focus, .navbar-brand:hover {
    -webkit-transition: background 300ms ease;
       -moz-transition: background 300ms ease;
        -ms-transition: background 300ms ease;
         -o-transition: background 300ms ease;
            transition: background 300ms ease;
    color: $secondary-blue;
    background-color: $nav-highlight;
  }
}

#footer {
  bottom: 10px;
  position: absolute;
  min-width: 100%;
  text-align: center;
  left: 0px;
}

.page-header {
  margin: 0;
  padding: 20px 0px 10px;
  margin-top: $header-navbar-offset;
  border: none;
}

.content-container {
  background-color: $content-background;
  min-height: calc(100% - #{$footer-offset});
  position: relative;
}

.content {
  padding-bottom: 80px;
}

.container-narrow {
  margin: 0px auto $header-navbar-offset auto;
  max-width: 880px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: $primary-blue;
}

.panel-default {
  background-color: $primary-blue;
}

.panel-default > .panel-heading, .panel > .panel-heading, .panel-footer {
  background-color: $gray-1;
}

hr {
  height: 2px;
  background: #777;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  border: none;
}

.section-heading {
  display: inline-block;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  padding: 6px;
  color: $section-heading;
  text-shadow: 0px 2px 1px #171717;
  background-color: $section-heading-bg;
}

/* Page-specific rules */

.page-preview {
  width: 320px;
  height: 340px;
  display: inline-block;
  padding: 10px;
  margin: 10px;

  img {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 260px;
    vertical-align: top;
    display: block;
  }

  .preview-title {
    font-size: 24px;
    color: $gray-5;
  }

  hr {
    margin: 5px 0 10px 0;
    width: 100%;
  }
}

.featured-image {
  max-height: 330px;
  max-width: 480px;
  padding: 10px;
}

.project-figures {
  padding: 0;

  figure {
    display: inline-block;
    margin: 10px;
  }
}

/* video wrapper for vimeo embedding */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post {
  h3.title {
    position: relative;
    padding-top: 10px;

    span.date {
      position: absolute;
      right: 0;
      font-size: 0.9em;
    }
  }

 .more {
    margin: 10px 0;
    text-align: left;
  }
}

.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}

.post-summary-list {
  padding-left: 15px;
  padding-right: 5px;

  li {
    list-style: none;
  }
}

.post-summary-title {
  font-size: 20px;
  font-weight: bold;
}

.post-summary-tagline {
  font-size: 16px;
}

.post-summary-date {
  font-size: 14px;
}

.title-summary {
  display: inline-block;
  padding: 5px;
  max-height: 380px;
  width: auto;
  height: auto;
}

/* taglines use h1 small */
h1 small {
  font-size: 22px;
  color: #777777;
}

li > i {
  opacity: 0.9;
  font-size: 13pt;
  top: 4px;
  position: relative;
}

.tag_box {
  margin: 0;
  overflow: hidden;

  .inline li {
    float: left;
  }

  a {
    padding: 3px 6px;
    margin: 2px;
    text-transform: none;

    span {
      vertical-align: super;
      font-size: 0.8em;
    }
  }
}

.pager {
  text-align: inherit;
}

/* columns */
@media only screen and (min-width: 550px) and (max-width: 750px) {
  .columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

@media only screen and (min-width: 750px) {
  .columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}

.columns-element {
  overflow: hidden;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}

/* 404 */
#error-404 {
  top: 50%;
  font-size: 24px;
  text-align: center;
  padding-top: 200px;
}

/* gl container */
#glContainer {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 360px;
  display: inline-block;
}
