---
layout: page
title: Projects
description: Projects in my portfolio.
group: navigation
permalink: projects/
extra_css: /assets/css/projects.css
---
{% include JB/setup %}

<div class="projects-grid">
    {% for post in site.posts %}
        <a href="{{ post.url }}" class="btn btn-default" title="{{ post.title }}: {{ post.tagline }}">
            <div class="project-title">{{ post.title }}</div>
            <img src="{{ post.tile_image }}" class="title-summary img-responsive" alt="{{ post.title }}">
        </a>
    {% endfor %}
</div>

<br>
<br>

<div>
    Want more of an overview for each project? View this page as a <a href="/projects-list/">detailed list</a> instead.
</div>

<br>
