---
layout: page
title: Tags
header: Posts By Tag
permalink: tags/
---
{% include JB/setup %}

<h2>All tags:</h2>

<ul class="tag_box list-inline">
  {% assign tags_list = site.tags %}
  {% include JB/tags_list %}
</ul>

<hr>

<h2>Posts grouped by tag:</h2>

<div class="columns">
{% for tag in site.tags %}
  <div class="columns-element">
    <h3 id="{{ tag[0] }}-ref">{{ tag[0] }}</h3>
    <ul>
      {% assign pages_list = tag[1] %}
      {% include JB/pages_list %}
    </ul>
  </div>
{% endfor %}
</div>
