body {
  background-image: url(/assets/images/bright-squares.png); }

.navbar-inner {
  background-image: url(/assets/images/dark-matter.png);
  background-repeat: repeat;
  border: 0;
  border-radius: 0; }

.navbar .brand {
  text-shadow: none;
  color: #bbbbbb; }

.navbar .nav > li > a {
  text-shadow: none;
  color: #bbbbbb; }

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #4477af; }

/* custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 850px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* personal photo */
.photo-id {
  border: 5px solid #333333;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 30px; }

/* project figures */
.project-figures {
  padding: 0; }

.project-figures figure {
  display: inline-block;
  margin: 10px; }

/* video wrapper for vimeo embedding */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full */
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* post-summary */
.post-summary-list {
  list-style: none; }

.post-summary-title {
  font-size: 18px;
  font-weight: bold; }

.post-summary-tagline {
  font-size: 16px; }

.title-summary {
  display: inline-block;
  padding: 5px;
  max-width: 600px;
  max-height: 300px;
  width: auto;
  height: auto; }

/* taglines use h1 small */
h1 small {
  font-size: 22px; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
