body {
  background-image: url(/assets/images/bright-squares.png); }

.navbar-inner {
  background-image: url(/assets/images/dark-matter.png);
  background-repeat: repeat;
  border: 0;
  border-radius: 0; }

.navbar .brand {
  text-shadow: none;
  color: #bbbbbb; }

.navbar .nav > li > a {
  text-shadow: none;
  color: #bbbbbb; }

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #4477af; }

/* hr (thematic break, horizontal rule) */
/* thanks to http://css-tricks.com/examples/hrs/ */
hr  {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(
      left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.4), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(
      left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.4), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(
      left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.4), rgba(0,0,0,0));
  background-image: -o-linear-gradient(
      left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.4), rgba(0,0,0,0)); }

/* home page */
.featured-image {
  max-height: 330px;
  max-width: 480px;
  padding: 10px; }

/* contact info */
.contact-info table, th, td {
  border: none; }

.contact-info th, td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px; }

/* resume */
.resume-category h3 {
  margin: 4px; }

.resume-subcategory {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 15px; }

.skills-table table, th, td {
  border: none;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px; }

.one-line div {
  display: inline-block; }

.job-title {
  font-style: italic; }

.divider {
  padding-left: 15px;
  padding-right: 15px; }

.company-description {
  font-style: italic;
  padding-left: 30px; }

.indent {
  padding-left: 30px; }

.no-bullets {
  list-style-type: none; }

/* custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 850px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* personal photo */
.photo-id {
  border: 5px solid #333333;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 30px; }

/* project figures */
.project-figures {
  padding: 0; }

.project-figures figure {
  display: inline-block;
  margin: 10px; }

/* video wrapper for vimeo embedding */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full */
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* post-summary */
.post-summary-list {
  list-style: none; }

.post-summary-title {
  font-size: 20px;
  font-weight: bold; }

.post-summary-tagline {
  font-size: 16px; }

.post-summary-date {
  font-size: 14px; }

.title-summary {
  display: inline-block;
  padding: 5px;
  max-width: 600px;
  max-height: 300px;
  width: auto;
  height: auto; }

/* taglines use h1 small */
h1 small {
  font-size: 22px; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

/* columns */
@media only screen and (min-width: 550px) and (max-width: 750px) {
  .columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
}

@media only screen and (min-width: 750px) {
  .columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
}

.columns-element {
  overflow: hidden;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid; }
