/* Colors */
/* Measurements */
html {
  height: calc(100% - 60px); }

body {
  background-color: #c2c2c2;
  height: 100%; }

.navbar {
  margin-bottom: 0px; }
  .navbar .nav {
    float: right; }
  .navbar .brand, .navbar .nav > li > a {
    text-shadow: none;
    color: #bbbbbb; }
  .navbar .navbar-inner {
    background-image: url(/assets/images/dark-matter.png);
    background-repeat: repeat;
    border: 0;
    border-radius: 0; }
  .navbar .nav > li a:focus, .navbar .nav > li a:hover {
    color: #4477af;
    background-color: #12122c; }

#footer {
  bottom: 10px;
  position: absolute;
  min-width: 100%;
  text-align: center;
  left: 0px; }

.page-header {
  margin: 0;
  padding: 20px 0px 30px;
  margin-top: 30px;
  border: none; }

.content-container {
  background-color: #dddddd;
  min-height: calc(100% - 40px);
  position: relative;
  -webkit-box-shadow: 10px 10px #aaaaaa;
  -moz-box-shadow: 10px 10px #aaaaaa;
  box-shadow: 10px 10px #aaaaaa; }

.content {
  padding-bottom: 80px; }

.container-narrow {
  margin: 0px auto 30px auto;
  max-width: 850px;
  padding-left: 40px;
  padding-right: 40px; }

hr {
  height: 2px;
  background: #777;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  border: none; }

.section-heading {
  display: inline-block;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  padding: 6px;
  color: #e5e5e5;
  text-shadow: 0px 2px 1px #171717;
  background-color: #454545; }

/* Page-specific rules */
.featured-image {
  max-height: 330px;
  max-width: 480px;
  padding: 10px; }

.project-figures {
  padding: 0; }
  .project-figures figure {
    display: inline-block;
    margin: 10px; }

/* video wrapper for vimeo embedding */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.post h3.title {
  position: relative;
  padding-top: 10px; }
  .post h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em; }
.post .more {
  margin: 10px 0;
  text-align: left; }

.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

.post-summary-list {
  list-style: none;
  background-color: #c2c2c2;
  padding: 10px;
  -webkit-box-shadow: 6px 6px #aaaaaa;
  -moz-box-shadow: 6px 6px #aaaaaa;
  box-shadow: 6px 6px #aaaaaa; }

.post-summary-title {
  font-size: 20px;
  font-weight: bold; }

.post-summary-tagline {
  font-size: 16px; }

.post-summary-date {
  font-size: 14px; }

.title-summary {
  display: inline-block;
  padding: 5px;
  max-width: 600px;
  max-height: 300px;
  width: auto;
  height: auto; }

/* taglines use h1 small */
h1 small {
  font-size: 22px; }

.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }
  .tag_box li {
    line-height: 28px; }
    .tag_box li i {
      opacity: 0.9; }
  .tag_box .inline li {
    float: left; }
  .tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc; }
    .tag_box a span {
      vertical-align: super;
      font-size: 0.8em; }
    .tag_box a :hover {
      background-color: #e5e5e5; }
    .tag_box a :active {
      background: #57A957;
      border: 1px solid #4c964d;
      color: #FFF; }

/* columns */
@media only screen and (min-width: 550px) and (max-width: 750px) {
  .columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }
@media only screen and (min-width: 750px) {
  .columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }
.columns-element {
  overflow: hidden;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid; }

/* 404 */
#error-404 {
  top: 50%;
  font-size: 24px;
  text-align: center;
  padding-top: 200px; }

/* gl container */
#glContainer {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 360px;
  display: inline-block; }
